
:root {
  --green:#4ECCA3;
  --white:#EEEEEE;
}

footer, p, button {
  font-family: 'Indie Flower', cursive;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
  text-align: center;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: var(--green);
}

p {
  font-size: 2rem;
  color: var(--green);
}

img {
  width: 80%;
}

button{
  margin-top: 40px;
  width: 200px;
  height: 50px;
  background-color: var(--green);
  color:var(--white);
  border-radius: 5px;
  border: none;
  font-size: 20px;
}

button:hover{
  border: 2px solid var(--green);
  background-color: transparent;
  cursor: pointer;
}

footer {
  margin-top: 5%;
  color: var(--white);
  text-align: center;
}
